body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/*header*/
header {
  display:flex;
  width: 100%;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  justify-content: center;
  margin-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav a{
  color: seashell;
  text-decoration: underline;
  margin-right: 10px;
  padding-right: 10px;
}
